*{
    margin: 0;
    padding:0;
    box-sizing: border-box ;
}

img {
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    padding: 10px 0 ;
    width: 80%;
    max-width: 1500px ;
    margin: auto;
    overflow: hidden;
}


.titulo{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(31, 31, 161);
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 60px;
    margin-top: 50px;
}

.titulo2{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(31, 31, 161);
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 50px;
}
.subtitulo{
    color: #70737c;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 60px;
}

.subtitulo2{
    color: #70737c;
    font-size: 27px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 150px;
    background: #f8f8f8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e2e2e25e, #a8b4dd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
}
nav{
    text-align: right;
    word-spacing: 5em;  
    margin-right: 200px;
    font-family:'Poppins', sans-serif;
}

nav >a{
    color:#70737c;
    font-weight: 700;
    text-decoration: none; 
}

nav >a:hover{
    text-decoration:underline;
}

.img1{
    position: relative;
    top: 70px;
    left: 100px;
}

.button {
    background-color: #2e42fc; /* Azul */
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
}

/* Fight Virus */

.img2{
        width: 700px;
        height: 700px;
  
}
img.izquierda{
    float: left;
}
img.derecha{
    float: right;
}
 .positionp{
     position: absolute;
     top:600px;
 }

 .positionp2{
    position: absolute;
    top:600px;
    left: 400px;
}

.positionp3{
    position: absolute;
    top:700px;
    
}
/*Banner*/

.banner{
    position: absolute;
    width: 850px;
    height: 80px;
    top: 770px;
    background-color:#f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(65, 82, 231);
}

.formbottom{
    position: absolute;
    top: 50px;
    left:20px;
}

.formbottom2{
    position: absolute;
    top: 50px;
    left:170px;
}
.formbottom3{
    position: absolute;
    top: 50px;
    left:370px;
}

.formbottom4{
    position: absolute;
    top: 10px;
    left:600px;
}
.formder{
    float: right;
}
.subtitulo2{
    color: #70737c;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 60px;
    word-spacing: 100px;
    margin-left: 20px;
}
.marcasimagen{
    width: 1700px;
    height: 300px;
    position: relative;
    left: 50px;
    margin-top: 60px;
}

/*  Contenedor Why shoul I vaccine? */

.text1{
    width: 500px;
    height: 150px;
    position: relative;
    left: 0px ;
}
.banners1{
    width: 250px;
    height: 300px;
    position: absolute;
    left: 150px;
    border-radius: 10px;
    background-color: #f9fbff;
    box-shadow: 0 0 20px rgb(65, 82, 231);
    
}

.banners2{
    width: 250px;
    height: 300px;
    position: absolute;
    left: 500px;
    border-radius: 10px;
    background-color: #f9fbff;
    box-shadow: 0 0 20px rgb(65, 82, 231);
    
}

.banners3{
    width: 250px;
    height: 300px;
    position: absolute;
    left: 850px; 
    border-radius: 10px; 
    background-color: #f9fbff;
    box-shadow: 0 0 20px rgb(65, 82, 231);
}

.banners4{
    width: 250px;
    height: 300px;
    position: absolute;
    left: 1200px;
    border-radius: 10px;
    background-color: #f9fbff;
    box-shadow: 0 0 20px rgb(65, 82, 231);
}

.alineado{
    margin: 20px;
    vertical-align: text-bottom;  
    text-align: left;
    font-size: 20px;
    color: #2e42fc;
    font-weight: 700;
}

.alineado2{
    margin: 20px;
    vertical-align: text-bottom;  
    text-align: left;
    color: #707175;
    font-size: 14px;
    font-weight:700;

}

img.center{
    position: relative;
    left:90px;
    margin-top: 20px;
}

/* Contenedor Preparations */

.pestanas{
    width: 1000px;
    height: 1000px;
    left: 50%;
}

.positionimg5{
    position:relative;
    margin-top: 200px;
    align-self: center;
}

.preparations{
    margin-top: 200px;
}

img.alineacion{
    vertical-align: left;
}

.designtext1{
    position: relative;
    top: 150px ;
    left: 20px;
}

.positiontext{
    position: relative;
    top: 150px ;
    left: 20px;
    
}
   
.positiontext2{
    position: relative;
    top: 190px ;
    left: 50px;
    margin-bottom: 10px;
}
.positiontext3{
    position: relative;
    top: 210px ;
    left: 50px;
    margin-bottom: 10px;
}
.positiontext4{
    position: relative;
    top: 230px ;
    left: 50px;
    margin-bottom: 10px;
}
.positiontext5{
    position: relative;
    top: 250px ;
    left: 50px;
    margin-bottom: 10px;
}
.positiontext6{
    position: relative;
    top: 270px;
    left: 50px;
    margin-bottom: 10px;
}

.dropbtn {
    background-color: #ffffff;
    color: rgba(45, 45, 58, 0.795);
    width: 350px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border: white;
    cursor:pointer;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3c82eb;
}

/* Contenedor Emergy contact*/
 
.postionimg6{
    position: absolute;
    margin-top: 50px;
    right: 200px;
}

.floatcall{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(65, 82, 231);
    
}

.botones{
    margin-top: 30px;
    width: 100px;
    height:50px ;
    position: relative;
    left: 10px;
}

.floatchat{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 500px;
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(65, 82, 231);
    
}
.floatvideo{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 200px;
    margin-top: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(65, 82, 231);
    
}

.floatmensaje{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 500px;
    margin-top: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(65, 82, 231);
    
}
 /*footer*/

.futer{
    position: relative;
    top: 1000px;
    background-color:#C9D6FF;
}

.footer{
    display:contents;
    justify-content:stretch;
}

.parrafo{
   width: 400px;
   height: 200px;
}
 .aboutus{
     width: 500px;
     height: 100px;
     position: absolute;
     left:700px;
     margin-bottom: 20px;
     top: 20px;
 }
 .aboutus2{
    width: 500px;
    height: 90px;
    position: absolute;
    left:900px;
    margin-bottom: 20px;
    top: 20px;
}

.aboutus3{
    width: 500px;
    height: 100px;
    position: absolute;
    left:1100px;
    margin-bottom: 20px;
    top: 20px;
}




